<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro de Instituição</title>
    <link rel="stylesheet" href="../css/formulario.css" />
</head>
<body>
    <div class="form-container">
        <h2>Cadastro de Instituição</h2>
        <form action="../../controller/insertInst.php" method="POST">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required />
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required />
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" required />
            </div>
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" required />
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" required />
            </div>
            <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" name="bairro" required />
            </div>
            <div class="form-group">
                <label for="rua">Rua:</label>
                <input type="text" id="rua" name="rua" required />
            </div>
            <div class="form-group">
                <label for="num">Número:</label>
                <input type="text" id="num" name="num" required />
            </div>
            <div class="form-group">
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj" required />
            </div>
            <div class="form-group">
                <label for="tipoInstituicao">Tipo de Instituição:</label>
                <input type="text" id="tipoInstituicao" name="tipoInstituicao" required />
            </div>
            <div class="form-group">
                <label for="dataCriacaoInst">Data de Criação:</label>
                <input type="date" id="dataCriacaoInst" name="dataCriacaoInst" required />
            </div>
            <button type="submit" name="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>